* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 50px;
    margin-left: 25%;
}

#logo {
    vertical-align: middle;
    height: 100%;
    margin-top: 1%
}

.navigator {
    margin-top: 30px;
    list-style-type: none;
}

li {
    padding-right: 10px;
    text-transform: uppercase;
    float: left;
    color: rgb(179, 177, 177);
}

.img1 {
    background-image: url("img/banner.jpg");
    
}