* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 50px;
}

#logo {
    vertical-align: middle;
    height: 100%;
    margin: 1% 25%;
}

.navigator > * li {
    text-transform: uppercase;
    float: left;
}
